service: test-lambda-with-layer

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  stage: dev
  versionFunctions: false

package:
  artifact: ${opt:artifact, ''}

functions:
  function:
    handler: index.handler
    layers:
      - { Ref: LayerLambdaLayer }

layers:
  layer:
    path: dist
