service: test-package-artifact

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  stage: dev
  versionFunctions: false

package:
  artifact: artifact.zip

functions:
  function:
    handler: index.handler

plugins:
  - serverless-plugin-reducer
