service: test-api-gw

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  stage: dev
  versionFunctions: false

package:
  individually: true

functions:
  function:
    handler: index.handler
    events:
      - http:
          path: foo
          method: GET
          cors: true
      - http:
          path: foo
          method: POST

plugins:
  - serverless-plugin-reducer
