service: test-deployment-bucket-ecnryption

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  stage: dev
  versionFunctions: false
  deploymentBucket:
    serverSideEncryption: AES256

package:
  individually: true

plugins:
  - serverless-plugin-reducer
